.single-reading-heading {
  text-align: center;
  color: #920092;
  padding-bottom: 10px;
  text-transform: lowercase;
}

.reading-img {
  /* margin-top: 10px; */
  margin-bottom: 10px;
  width: 70%;
  object-fit: cover;
  padding: 0px !important;
}

.reading-review {
  margin-top: 30px;
}
